{% extends "base.html" %}
{% block content %}
<h1 class="text-center">Add Member</h1>
<form method="POST" action="/add_member">
    {{ form.hidden_tag() }}
    <div class="form-group">
        {{ form.member_name.label(class="form-label") }}
        {{ form.member_name(class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.phone_number.label(class="form-label") }}
        {{ form.phone_number(class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.email.label(class="form-label") }}
        {{ form.email(class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.area.label(class="form-label") }}
        {{ form.area(class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.parish.label(class="form-label") }}
        {{ form.parish(class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.gender.label(class="form-label") }}
        {{ form.gender(class="form-control") }}
    </div>
    <button type="submit" class="btn btn-primary">Add Member</button>
</form>
{% endblock %}
