<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Attendance and Registration App</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            background-color: #f8f9fa;
        }
        .navbar {
            margin-bottom: 20px;
        }
        .card {
            margin-bottom: 20px;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">RCR App</a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item"><a class="nav-link" href="/webmaster_dashboard">Dashboard</a></li>
                <li class="nav-item"><a class="nav-link" href="/members">Members</a></li>
                 
                {% if session.get('is_admin') %}
                    <li class="nav-item"><a class="nav-link" href="/admins">Admins</a></li>
                     you logged in as Admin
                {% endif %}
                {% if session.get('is_webmaster') %}
                    <li class="nav-item"><a class="nav-link" href="/webmasters">Webmasters</a></li>
                    you logged in as Webmaster
                {% endif %}
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a class="nav-link" href="/logout">Logout</a></li>
            </ul>
        </div>
    </nav>
    <div class="container">
        {% block content %}{% endblock %}
    </div>
</body>
</html>
