<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registered members</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <h1>Registered members</h1>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>SN</th>
                    <th>Name</th>
                    <th>Gender</th>
                    <th>province</th>
                    <th>Phone Number</th>
                    <th>Email</th>
                    <th>State</th>
                    <th>Admin who Registered</th>
                    <th>Updated by Admin</th>
                </tr>
            </thead>
            <tbody>
                {% for member in members %}
                <tr>
                    <td>{{ member.id }}</td>
                    <td>{{member.member_name}}</td>
                    <td>{{ member.province }}</td>
                    <td>{{ member.gender }}</td>
                    <td>{{ member.phone_number }}</td>
                    <td>{{ member.email }}</td>
                    <td>{{ member.state }}</td>
                    <td>
                        {% for admin in admins %}
                            {% if admin.id == member.registered_by_admin_id %}
                                {{ admin.admin_name }}
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td>
                        {% for admin in admins %}
                            {% if admin.id == member.last_edited_by %}
                                {{ admin.admin_name }}
                            {% endif %}
                        {% endfor %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>
