
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registered webmaster</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <h1>Registered Webmaster</h1>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>SN</th>
                    <th>Name</th>
                    <th>Phone Number</th>
                    <th>Email</th>
                </tr>
            </thead>
            <tbody>
                {% for webmaster in webmasters %}
                <tr>
                    <td>{{ webmaster.id }}</td>
                    <td>{{ webmaster.webmaster_name }}</td>
                    <td>{{ webmaster.phone_number }}</td>
                    <td>{{ webmaster.email }}</td>
                                           
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>